# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
*.env
.env.local
.env.*.local
!*.env.example

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Node
node_modules/
dist/
build/
.npm

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Firebase / Service Account Secrets
*firebase-adminsdk*.json
service-account*.json
*serviceAccountKey*.json
*.serviceAccount*.json


firebase-debug.log

frontend/.firebase/
